


  #item1{
    grid-area: one;
    margin: 6px;
    color: rgb(8, 126, 100);
    
  
}


#item2{
    grid-area: two;
    color: rgb(20, 141, 171);
    background-color: rgb(217, 220, 220);
    margin: 10px;
}

#item3{
  grid-area: three;
  color: rgb(20, 141, 171);
  background-color: rgb(217, 220, 220);
  margin: 10px;
}

#item4{
  grid-area: four;
  color: rgb(20, 141, 171);
  background-color: rgb(217, 220, 220);
  margin: 10px;
}


.grid-container{
  display: grid;
  grid-template-areas: 
  'one two two two two two'
  'one three three three three tree'
  'one four four four four four'
   ;
}


  * {
    box-sizing: border-box;
    border-radius: 25px;

  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2{
    font-family: monospace;
    color: blue;
  }
  h3{
    font-family: monospace;
    color: lightslategray;
  }
  
  
  /* Style the counter cards */


  .topnav {
    background-image: url('/assets/kenon.png');
    overflow: hidden;
  }
  
  /* links styles inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /*color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* color of the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: hsl(0, 100%, 100%);
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(135, 10, 10, 0.306);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }



   /* Responsive columns */
@media screen and (max-width: 600px) {
  .grid-container{
    display: grid;
    grid-template-areas: 
    'one'
    'two'
     ;
  }
}